<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Esqueci a Senha</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#100d28">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Zentitech">
  <meta name="application-name" content="Zentitech">
  <meta name="msapplication-TileColor" content="#100d28">
  <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#100d28">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/styles/resetpassword.css" th:href="@{/static/styles/resetpassword.css}">
</head>
<body>
<div class="container">
  <a class="navbar-brand">
    <img src="/static/image/logo-zentitech-redondo.png" th:src="@{/static/image/logo-zentitech-redondo.png}" class="navbar-logo" alt="Logo">
  </a>
  <h2 class="text-center">Redefinir sua senha</h2>
  <form th:action="@{/reset_password}" method="post">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="form-group">
      <input type="password" name="password" id="password" class="form-control"
             placeholder="Digite a sua nova senha" required autofocus />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Digite novamente"
             required oninput="checkPasswordMatch(this);" />
    </div>
    <div class="form-group text-center">
      <input type="submit" value="Confirmar" class="btn btn-primary btn-block" />
    </div>
  </form>
</div>
<script>
  function checkPasswordMatch(fieldConfirmPassword) {
      if (fieldConfirmPassword.value !== document.getElementById('password').value) {
          fieldConfirmPassword.setCustomValidity("Passwords do not match!");
      } else {
          fieldConfirmPassword.setCustomValidity("");
      }
  }
</script>
</body>
</html>