# Ignore the .idea directory and all its contents
.idea/
# Ignore HELP.md file
HELP.md
# Ignore the target directory
target/
# Allow specific maven-wrapper.jar file
!.mvn/wrapper/maven-wrapper.jar
# Allow target directories inside specific src/main and src/test folders
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code #####
.vscode/