<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Checkout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/styles/checkout.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://js.stripe.com/v3/"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var publicKey = /*[[${publicKey}]]*/ null;
    var amount = /*[[${amount}]]*/ null;
    var email = /*[[${email}]]*/ null;
    var productName = /*[[${productName}]]*/ null;
    /*]]>*/
  </script>
  <script src="/static/js/checkout.js" defer></script>
</head>
<body>
<form id="paymentForm">
  <div class="mb-3">
    <span>Você está prestes a efetuar um pagamento de: </span>
    <span th:text="${amount}">R$14,90</span>
    <span>BRL</span>
  </div>
  <input type="hidden" id="amountInCents" name="amountInCents" th:value="${amountInCents}"/>
  <input type="hidden" id="email" name="email" th:value="${email}" />
  <input type="hidden" id="productName" name="productName" th:value="${productName}" />
  <button id="submit" class="btn btn-primary">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pagar Agora</span>
  </button>
  <div id="payment-message" class="hidden"></div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>