<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14NNPL17P7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-14NNPL17P7');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7169687534152385"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <meta name="google-adsense-account" content="ca-pub-7169687534152385">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#100d28">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Zentitech">
    <meta name="application-name" content="Zentitech">
    <meta name="msapplication-TileColor" content="#100d28">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#100d28">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/index.css"/>
</head>
<body>
<div class="element">
    <div class="div">
        <footer class="footer">
            <div class="overlap">
                <div class="mateus-gomes">Zentitech</div>
                <img class="image" src="/static/img/image-7.png" />
                <div class="frame">
                    <div class="group">
                        <img class="social-media-icons" src="/static/img/social-media-icons.png" />
                        <p class="text-wrapper">
                            Zentitech simplifica o gerenciamento de usuários com soluções inovadoras e seguras. Nossa plataforma
                            oferece controle total e eficiência para equipes, promovendo colaboração e crescimento sustentável.
                        </p>
                    </div>
                    <div class="product">
                        <div class="text-wrapper-2">Product</div>
                        <div class="flexcontainer">
                            <p class="text">
                                <span class="span">Connections<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Protocols<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Personas<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Integrations<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Catalog<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Pricing<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Security<br /></span>
                            </p>
                            <p class="text"><span class="span">GDPR</span></p>
                        </div>
                    </div>
                    <div class="for-developers">
                        <div class="text-wrapper-2">For Developers</div>
                        <div class="flexcontainer">
                            <p class="text">
                                <span class="span">Docs<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">API<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Open Source<br /></span>
                            </p>
                            <p class="text"><span class="span">Engineering Team</span></p>
                        </div>
                    </div>
                    <div class="company">
                        <div class="text-wrapper-2">Company</div>
                        <div class="flexcontainer">
                            <p class="text">
                                <span class="span">Careers<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Blog<br /></span>
                            </p>
                            <p class="text"><span class="span">Press</span></p>
                        </div>
                    </div>
                    <div class="support">
                        <div class="text-wrapper-2">Support</div>
                        <div class="flexcontainer">
                            <p class="text">
                                <span class="span">Help Center<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Contact Us<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Security<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Bulletins<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Documentation<br /></span>
                            </p>
                            <p class="text">
                                <span class="span">Partner<br /></span>
                            </p>
                            <p class="text"><span class="span">Portal</span></p>
                        </div>
                    </div>
                    <div class="newsletter">
                        <div class="text-wrapper-3">Newsletter</div>
                        <div class="overlap-group">
                            <div class="text-wrapper-4">Email</div>
                            <img class="icon-ionic-ios-send" src="/static/img/icon-ionic-ios-send.svg" />
                        </div>
                    </div>
                    <img class="logo-zentitech" src="/static/img/logo-zentitech-redondo-1.png" />
                </div>
            </div>
        </footer>
        <div class="signup-form">
            <div class="form">
                <div class="frame-2">
                    <div class="text-wrapper-5">Sign Up</div>
                    <div class="btn-primary">
                        <div class="div-wrapper"><p class="p">Inicie o seu teste gratuito</p></div>
                    </div>
                    <div class="frame-3"><div class="text-wrapper-6">Seu e-mail principal</div></div>
                    <div class="frame-3"><div class="text-wrapper-6">Senha</div></div>
                    <div class="frame-3"><div class="text-wrapper-6">Digite Novamente</div></div>
                    <div class="text-wrapper-7">ou</div>
                    <img class="btn-google-signin" src="/static/img/btn-google-signin-dark-normal-web.png" />
                    <img class="line" src="/static/img/line-5.svg" />
                    <p class="j-tem-uma-conta">
                        <span class="text-wrapper-8">Já tem uma conta? </span> <span class="text-wrapper-9">Login</span>
                    </p>
                </div>
            </div>
            <div class="client-logos">
                <img class="accenture" src="/static/img/accenture-4.svg" />
                <img class="react" src="/static/img/react.png" />
                <img class="airbnb" src="/static/img/airbnb.svg" />
                <img class="sky" src="/static/img/sky-4.svg" />
            </div>
            <div class="trusted-by">
                <div class="text-wrapper-10">Confiado por</div>
                <img class="/static/img" src="/static/img/line-3.svg" />
                <img class="line-2" src="/static/img/line-4.svg" />
            </div>
            <p class="text-wrapper-11">
                Descubra por que as principais empresas do mundo escolhem a Zentitech para revolucionar o gerenciamento de
                usuários e a gestão orientada por dados.
            </p>
        </div>
        <div class="testimonial">
            <div class="frame-wrapper">
                <div class="frame-4">
                    <p class="a-zentitech">
                        &#34;A Zentitech transformou nossa gestão de usuários, facilitando o controle e promovendo uma
                        colaboração eficiente em nossa equipe de engenharia. &#34;
                    </p>
                    <img class="icon" src="/static/img/icon-256x256-1.png" />
                    <div class="lucas-almeida-CTO">Lucas Almeida<br />CTO @BigSpring</div>
                    <img class="line-3" src="/static/img/line-2.svg" />
                    <img class="client-logos-2" src="/static/img/client-logos.svg" />
                </div>
            </div>
        </div>
        <div class="for-engineering">
            <div class="overlap-2">
                <div class="frame-5">
                    <div class="tag">
                        <div class="overlap-group-2">
                            <div class="text-wrapper-12">Para equipes de engenharia</div>
                            <img class="compass" src="/static/img/compass.png" />
                        </div>
                    </div>
                    <div class="text-wrapper-13">Gestão de Usuários</div>
                    <p class="text-wrapper-14">
                        Plataforma intuitiva para gerenciamento, cadastro e gestão de usuários. Promove colaboração eficaz e
                        controle seguro, ideal para equipes de engenharia.
                    </p>
                </div>
                <img class="image-2" src="/static/img/image-6.png" />
            </div>
        </div>
        <div class="for-product-teams">
            <div class="content">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group-3">
                        <div class="text-wrapper-15">Para equipes de produto</div>
                        <img class="electronic-circuit" src="/static/img/electronic-circuit.png" />
                    </div>
                </div>
                <p class="text-wrapper-13">Cadastro e Gestão de Usuários</p>
                <p class="text-wrapper-14">
                    Uma plataforma intuitiva para gerenciamento e cadastro de usuários, permitindo administração centralizada,
                    colaborativa e segura com controle de acessos e perfis.
                </p>
            </div>
            <div class="overlap-wrapper">
                <div class="overlap-3">
                    <img class="concentric-circles" src="/static/img/concentric-circles.png" />
                    <div class="logos">
                        <div class="group-2">
                            <div class="overlap-group-4">
                                <img class="group-3" src="/static/img/group-2.png" />
                                <img class="mask-group" src="/static/img/mask-group-1.png" />
                                <img class="image-3" src="/static/img/image-2.png" />
                            </div>
                        </div>
                        <div class="group-4">
                            <div class="psolv-output-wrapper">
                                <img class="psolv-output" src="/static/img/psolv-output-snowflake.png" />
                            </div>
                        </div>
                        <div class="group-5">
                            <div class="image-wrapper"><img class="image-4" src="/static/img/image-3.png" /></div>
                        </div>
                        <div class="overlap-4">
                            <div class="overlap-5">
                                <img class="group-6" src="/static/img/group-5.png" />
                                <div class="group-7">
                                    <div class="psolv-output-mysql-wrapper">
                                        <img class="psolv-output-mysql" src="/static/img/psolv-output-mysql.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="group-8">
                                <div class="mask-group-wrapper"><div class="mask-group-2"></div></div>
                            </div>
                        </div>
                        <div class="group-9">
                            <div class="/static/img-wrapper"><img class="image-5" src="/static/img/image-5.png" /></div>
                        </div>
                        <div class="overlap-6"><img class="image-6" src="/static/img/image-4.png" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-qubly">
            <div class="tag-2">
                <img class="icon-awesome-eye" src="/static/img/icon-awesome-eye.svg" />
                <div class="text-wrapper-16">Porque Zentitech</div>
            </div>
            <p class="text-wrapper-17">Simplifique o gerenciamento de usuários com eficiência e inovação</p>
            <p class="text-wrapper-18">
                Nossa plataforma moderna e intuitiva garante um cadastro de usuários ágil e seguro, otimizando processos e
                transformando a maneira como você administra seu sistema.
            </p>
            <div class="features">
                <div class="valuable-business">
                    <img class="chart-bar" src="/static/img/chart-bar-33.png" />
                    <div class="text-wrapper-19">Insights de negócios valiosos</div>
                    <p class="text-wrapper-20">
                        Transforme dados em decisões com Zentitech: seu sistema de gerenciamento de usuários que revela insights
                        valiosos para impulsionar seu negócio.
                    </p>
                </div>
                <div class="powerful-algorithms">
                    <img class="newsletter-dev" src="/static/img/newsletter-dev.png" />
                    <p class="text-wrapper-21">Gerencie com Facilidade, Cresça com Confiança</p>
                    <p class="text-wrapper-22">
                        Zentitech simplifica o gerenciamento de usuários com eficiência e segurança, maximizando seu tempo e
                        potencializando resultados.
                    </p>
                </div>
                <div class="data-in-real-time">
                    <img class="timeline" src="/static/img/timeline.png" />
                    <p class="text-wrapper-23">Inovação na Ponta dos Dedos</p>
                    <p class="text-wrapper-24">
                        Transforme a administração de usuários com Zentitech. Nossa solução moderna e minimalista oferece
                        controle total e insights valiosos, elevando a gestão ao próximo nível.
                    </p>
                </div>
            </div>
        </div>
        <div class="overlap-7">
            <div class="hero">
                <div class="overlap-8">
                    <div class="content-2">
                        <div class="tag-3">
                            <img class="edit-brightness" src="/static/img/edit-brightness.png" />
                            <div class="text-wrapper-25">v3.1 lançada. Saiba mais</div>
                        </div>
                        <p class="text-wrapper-26">Gerencie usuários com facilidade e eficiência.</p>
                        <p class="text-wrapper-27">
                            Gerencie usuários de forma eficiente com Zentitech, simplificando cadastros e otimizando controle de
                            acesso com elegância tecnológica.
                        </p>
                        <div class="buttons">
                            <div class="button-primary"><div class="text-wrapper-28">Saiba Mais</div></div>
                            <div class="teste-gratuito-wrapper"><div class="teste-gratuito">Teste Gratuito</div></div>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="frame-6">
                            <div class="about-us">
                                <div class="text-wrapper-29">Sobre</div>
                                <img class="small-down" src="/static/img/small-down.png" />
                            </div>
                            <div class="text-wrapper-30">Preço</div>
                            <div class="text-wrapper-31">Contate-nos</div>
                            <div class="text-wrapper-32">Login</div>
                            <div class="button-primary-2"><div class="text-wrapper-28">Teste Gratuito</div></div>
                        </div>
                    </div>
                    <img class="openart" src="/static/img/openart-7b01010efa094a879416b51c53e9bd23-raw-removebg-1.png" />
                </div>
            </div>
            <img class="logo-zentitech-2" src="/static/img/logo-zentitech-redondo-1.png" />
        </div>
    </div>
</div>
</body>
</html>