<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form id="paymentForm">
        <div class="mb-3">
          <label for="amount" class="form-label">Valor</label>
          <input type="text" class="form-control" id="amount" name="amount" value="R$14.90" readonly>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" th:value="${email}" readonly>
        </div>
        <div class="mb-3">
          <label for="productName" class="form-label">Nome do Produto</label>
          <input type="text" class="form-control" id="productName" name="productName" value="Plano Starter" readonly>
        </div>
        <button type="button" class="btn btn-primary" onclick="handlePayment()">Pagar Agora</button>
      </form>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
  // Inicializar Stripe com a chave pública
  const stripe = Stripe(publicKey);

  // Função para lidar com o pagamento
  async function handlePayment() {
    const emailField = document.querySelector("#email");
    const productNameField = document.querySelector("#productName");
    const amountField = document.querySelector("#amount");

    const email = emailField.value;
    const productName = productNameField.value;
    const amount = amountField.value; // Este valor pode precisar ser convertido para centavos, se necessário

    const request = {
      amount: amount, // Verifique se o formato está correto para o endpoint do backend
      email: email,
      productName: productName
    };

    try {
      const response = await fetch("/create-payment-intent", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(request)
      });

      if (!response.ok) {
        throw new Error('Erro ao criar pagamento');
      }

      const paymentIntent = await response.json();
      console.log(paymentIntent); // Aqui você pode lidar com o ID do PaymentIntent retornado

      // Redirecionar para a página de checkout.html
      window.location.href = "/payment/checkout";

    } catch (error) {
      console.error('Erro ao iniciar pagamento:', error);
      // Lidar com o erro, como exibir uma mensagem para o usuário
    }
  }
</script>
</body>
</html>