<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14NNPL17P7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-14NNPL17P7');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7169687534152385"
            crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-7169687534152385">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Metropolis:wght@500;700&display=swap" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#100d28">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Zentitech">
    <meta name="application-name" content="Zentitech">
    <meta name="msapplication-TileColor" content="#100d28">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#100d28">
</head>
<body>
<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 1440px; height: 400px; left: 0px; top: 3781px; position: absolute">
        <div style="width: 1440px; height: 400px; left: 0px; top: 0px; position: absolute; background: #FBFCFF"></div>
        <div style="left: 683px; top: 361px; position: absolute; color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">Rahul Rao</div>
        <img style="width: 24px; height: 24px; left: 770px; top: 357px; position: absolute" src="https://via.placeholder.com/24x24" />
        <div style="width: 948px; height: 244px; left: 240px; top: 58px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
            <div style="width: 209px; height: 222.01px; position: relative">
                <div style="width: 76px; height: 16.01px; left: 0px; top: 206px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 28px; top: 0px; position: absolute">
                        <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; background: #2DAAE1"></div>
                        <div style="width: 10.20px; height: 8.29px; left: 2.90px; top: 3.85px; position: absolute; background: white"></div>
                    </div>
                    <div style="width: 16px; height: 16.01px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 16px; height: 16px; left: -0px; top: 0px; position: absolute; background: #485A96"></div>
                        <div style="width: 7.05px; height: 13.60px; left: 6.46px; top: 2.40px; position: absolute; background: white"></div>
                    </div>
                    <div style="width: 16px; height: 16px; left: 60px; top: 0px; position: absolute">
                        <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; background: radial-gradient(38.31% 38.31% at 27.89% 54.97%, #FA8F21 9%, #D82D7E 78%)"></div>
                        <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; background: radial-gradient(48.59% 48.59% at 19.43% 95.48%, rgba(140, 58, 170, 0) 64%, #8C3AAA 100%)"></div>
                    </div>
                </div>
                <div style="width: 209px; left: 0px; top: 62px; position: absolute; color: #160637; font-size: 12px; font-family: Metropolis; font-weight: 500; line-height: 20px; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ut wisi enim ad minim</div>
                <div style="width: 48px; height: 48px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 24px; height: 20.57px; left: 0px; top: 0px; position: absolute; background: #431F5A"></div>
                    <div style="width: 24px; height: 27.43px; left: 0px; top: 13.71px; position: absolute; background: #722ED1"></div>
                    <div style="width: 12px; height: 20.57px; left: 24px; top: 27.43px; position: absolute; background: #722ED1"></div>
                    <div style="width: 24px; height: 27.43px; left: 24px; top: 0px; position: absolute; background: #722ED1"></div>
                    <div style="width: 24px; height: 20.57px; left: 24px; top: 13.71px; position: absolute; background: #431F5A"></div>
                    <div style="width: 12px; height: 13.71px; left: 24px; top: 27.43px; position: absolute; background: #431F5A"></div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                <div style="color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">Product</div>
                <div style="color: #160637; font-size: 12px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Connections<br/>Protocols<br/>Personas<br/>Integrations<br/>Catalog<br/>Pricing<br/>Security<br/>GDPR</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                <div style="color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">For Developers</div>
                <div style="color: #160637; font-size: 12px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Docs<br/>API<br/>Open Source<br/>Engineering Team</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                <div style="color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">Company</div>
                <div style="color: #160637; font-size: 12px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Careers<br/>Blog<br/>Press</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                <div style="color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">Support</div>
                <div style="color: #160637; font-size: 12px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Help Center<br/>Contact Us<br/>Security<br/>Bulletins<br/>Documentation<br/>Partner<br/>Portal</div>
            </div>
            <div style="width: 180px; height: 78px; position: relative">
                <div style="left: 0px; top: 0px; position: absolute; color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">Newsletter</div>
                <div style="width: 180px; height: 40px; left: 0px; top: 38px; position: absolute; background: white"></div>
                <div style="left: 16px; top: 50px; position: absolute; color: #8989A2; font-size: 12px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Email</div>
                <div style="width: 19.81px; height: 19.80px; left: 153.99px; top: 44px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; background: #722ED1"></div>
            </div>
        </div>
    </div>
    <div style="width: 962px; height: 522px; left: 238px; top: 3139px; position: absolute">
        <div style="width: 480px; height: 522px; left: 482px; top: 0px; position: absolute">
            <div style="width: 480px; height: 480px; left: 0px; top: 42px; position: absolute; background: #F9F0FF"></div>
            <div style="width: 428px; height: 494px; padding-left: 40px; padding-right: 40px; padding-top: 32px; padding-bottom: 32px; left: 26px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12); border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 347px; text-align: center; color: #160637; font-size: 24px; font-family: Metropolis; font-weight: 700; line-height: 32px; word-wrap: break-word">Sign Up</div>
                <div style="width: 344px; height: 48px; position: relative">
                    <div style="width: 344px; height: 48px; left: 0px; top: 0px; position: absolute; background: #722ED1"></div>
                    <div style="left: 99px; top: 12px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Start your free trial</div>
                </div>
                <div style="padding: 16px; border-radius: 4px; border: 1px #D9D9D9 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="width: 316px; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Your primary email</div>
                </div>
                <div style="padding: 16px; border-radius: 4px; border: 1px #D9D9D9 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="width: 316px; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Password</div>
                </div>
                <div style="padding: 16px; border-radius: 4px; border: 1px #D9D9D9 solid; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="width: 316px; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Re-type Password</div>
                </div>
                <div style="color: black; font-size: 16px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">OR</div>
                <img style="width: 199.30px; height: 48px" src="https://via.placeholder.com/199x48" />
                <div style="width: 336px; height: 0px; opacity: 0.48; border: 1px #8989A2 solid"></div>
                <div><span style="color: #8989A2; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Already have an account?</span><span style="color: black; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word"> </span><span style="color: #722ED1; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Login</span></div>
            </div>
        </div>
        <div style="width: 301.92px; height: 156.15px; left: 5px; top: 276px; position: absolute">
            <div style="width: 134px; height: 35.35px; left: 2.42px; top: 4.15px; position: absolute; background: #8989A2"></div>
            <div style="width: 63.43px; height: 56.44px; left: 238.49px; top: 0px; position: absolute">
                <div style="width: 63.43px; height: 56.44px; left: 0px; top: 0px; position: absolute; background: #8989A2"></div>
                <div style="width: 58.01px; height: 51.03px; left: 2.71px; top: 2.70px; position: absolute; background: white"></div>
                <div style="width: 11.33px; height: 11.33px; left: 26.05px; top: 22.50px; position: absolute; background: #8989A2"></div>
            </div>
            <div style="width: 130.43px; height: 40.70px; left: 0px; top: 115.22px; position: absolute; background: #8989A2"></div>
            <div style="width: 54px; height: 32.38px; left: 242.42px; top: 123.77px; position: absolute; background: #8989A2"></div>
        </div>
        <div style="width: 424px; height: 24px; left: 0px; top: 202px; position: absolute">
            <div style="left: 168px; top: 0px; position: absolute; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Trusted by</div>
            <div style="width: 144px; height: 0px; left: 0px; top: 11px; position: absolute; border: 1px #D6D6D6 solid"></div>
            <div style="width: 144px; height: 0px; left: 280px; top: 11px; position: absolute; border: 1px #D6D6D6 solid"></div>
        </div>
        <div style="width: 431px; left: 5px; top: 47px; position: absolute; color: #160637; font-size: 32px; font-family: Metropolis; font-weight: 700; line-height: 40px; word-wrap: break-word">See why the world’s best companies use Qubly to become truly data-driven.</div>
    </div>
    <div style="width: 1440px; height: 730.50px; left: 0px; top: 2288px; position: absolute">
        <div style="width: 1440px; height: 730.50px; left: 0px; top: 0px; position: absolute; opacity: 0.47; background: linear-gradient(175deg, #F9F0FF 0%, #E2F1FF 100%)"></div>
        <div style="width: 964px; height: 358.02px; left: 238.50px; top: 200px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: inline-flex">
            <div style="width: 964px; text-align: center; color: #160637; font-size: 24px; font-family: Metropolis; font-weight: 500; line-height: 32px; word-wrap: break-word">"What I love about Qubly is the easy way we can collaborate even if there is a lot of people involved in the process"</div>
            <img style="width: 80px; height: 80px" src="https://via.placeholder.com/80x80" />
            <div style="text-align: center; color: black; font-size: 16px; font-family: Metropolis; font-weight: 700; line-height: 24px; word-wrap: break-word">Guillaume Cabane<br/>CTO @ BigSpring</div>
            <div style="width: 964px; height: 0px; border: 1px #DEC9FA solid"></div>
            <div style="justify-content: center; align-items: center; gap: 91px; display: inline-flex">
                <div style="width: 144.63px; height: 38.02px; position: relative">
                    <div style="width: 14.82px; height: 20.82px; left: 82.98px; top: 9.26px; position: absolute; background: #8989A2"></div>
                    <div style="width: 14.04px; height: 15.18px; left: 130.59px; top: 14.95px; position: absolute; background: #8989A2"></div>
                    <div style="width: 14px; height: 15.11px; left: 65.65px; top: 15px; position: absolute; background: #8989A2"></div>
                    <div style="width: 10.10px; height: 21.09px; left: 37.25px; top: 9.27px; position: absolute; background: #8989A2"></div>
                    <div style="width: 27.63px; height: 38.02px; left: 0px; top: 0px; position: absolute; background: #8989A2"></div>
                    <div style="width: 15.46px; height: 15.54px; left: 97.31px; top: 14.96px; position: absolute; background: #8989A2"></div>
                    <div style="width: 14.28px; height: 15.28px; left: 113.95px; top: 15.19px; position: absolute; background: #8989A2"></div>
                    <div style="width: 15.80px; height: 15.53px; left: 48.02px; top: 15.04px; position: absolute; background: #8989A2"></div>
                    <div style="width: 2.64px; height: 1.74px; left: 16.56px; top: 27.06px; position: absolute; background: #8989A2"></div>
                    <div style="width: 2.35px; height: 1.39px; left: 10.21px; top: 25.71px; position: absolute; background: #8989A2"></div>
                </div>
                <div style="width: 151.32px; height: 31.01px; position: relative">
                    <div style="width: 23.63px; height: 19.28px; left: 0px; top: 8.61px; position: absolute; background: #00DCC0"></div>
                    <div style="width: 22.14px; height: 12.44px; left: 0.01px; top: 0px; position: absolute; background: #125EEC"></div>
                    <div style="width: 15.27px; height: 20.77px; left: 71.31px; top: 3.93px; position: absolute; background: #101419"></div>
                    <div style="width: 13.01px; height: 15.43px; left: 121.72px; top: 8.78px; position: absolute; background: #101419"></div>
                    <div style="width: 8px; height: 15.39px; left: 105.05px; top: 8.83px; position: absolute; background: #101419"></div>
                    <div style="width: 3.75px; height: 14.96px; left: 48.72px; top: 9.26px; position: absolute; background: #101419"></div>
                    <div style="width: 3.72px; height: 14.97px; left: 114.75px; top: 9.25px; position: absolute; background: #101419"></div>
                    <div style="width: 3.82px; height: 3.52px; left: 48.73px; top: 3.44px; position: absolute; background: #11151A"></div>
                    <div style="width: 3.76px; height: 3.54px; left: 114.69px; top: 3.51px; position: absolute; background: #101419"></div>
                    <div style="width: 2.22px; height: 0.28px; left: 3.46px; top: 8.53px; position: absolute; background: #59D4DC"></div>
                    <div style="width: 15.12px; height: 19.95px; left: 31.24px; top: 4.31px; position: absolute; background: #101419"></div>
                    <div style="width: 14.59px; height: 22.14px; left: 136.73px; top: 8.84px; position: absolute; background: #101419"></div>
                    <div style="width: 14.47px; height: 22.19px; left: 54.69px; top: 8.82px; position: absolute; background: #101419"></div>
                    <div style="width: 14.52px; height: 21.78px; left: 88.35px; top: 8.79px; position: absolute; background: #101419"></div>
                </div>
                <div style="width: 111.66px; height: 29.06px; position: relative">
                    <div style="width: 29.05px; height: 29.04px; left: 0px; top: 0.02px; position: absolute; background: #8989A2"></div>
                    <div style="width: 14.52px; height: 14.52px; left: 14.52px; top: 0px; position: absolute; background: #A0A0BD"></div>
                    <div style="width: 14.52px; height: 14.52px; left: 14.52px; top: 14.54px; position: absolute; background: #BCBCD8"></div>
                    <div style="width: 67.76px; height: 14.44px; left: 43.90px; top: 7.19px; position: absolute">
                        <div style="width: 11.63px; height: 14.21px; left: 0px; top: 0.23px; position: absolute; background: #8989A2"></div>
                        <div style="width: 1.73px; height: 14.28px; left: 14.02px; top: 0px; position: absolute; background: #8989A2"></div>
                        <div style="width: 8.66px; height: 10.12px; left: 18.09px; top: 4.31px; position: absolute; background: #8989A2"></div>
                        <div style="width: 7.74px; height: 10.15px; left: 28.44px; top: 4.29px; position: absolute; background: #8989A2"></div>
                        <div style="width: 5.97px; height: 10px; left: 38.79px; top: 4.29px; position: absolute; background: #8989A2"></div>
                        <div style="width: 8.67px; height: 14.42px; left: 46.66px; top: 0px; position: absolute; background: #8989A2"></div>
                        <div style="width: 2.47px; height: 14.15px; left: 57.29px; top: 0.14px; position: absolute; background: #8989A2"></div>
                        <div style="width: 6.34px; height: 13.17px; left: 61.42px; top: 1.27px; position: absolute; background: #8989A2"></div>
                    </div>
                </div>
                <div style="width: 85.21px; height: 29.62px; position: relative">
                    <div style="width: 23.70px; height: 20.70px; left: 2.33px; top: 8.92px; position: absolute; background: #8989A2"></div>
                    <div style="width: 18.62px; height: 21.45px; left: 0px; top: 0px; position: absolute; background: #8989A2"></div>
                    <div style="width: 9.11px; height: 13.26px; left: 17.77px; top: 0.52px; position: absolute; background: #8989A2"></div>
                    <div style="width: 53.03px; height: 19.91px; left: 32.19px; top: 4.17px; position: absolute; background: #8989A2"></div>
                </div>
                <div style="width: 86.56px; height: 29.99px; position: relative">
                    <div style="width: 23.10px; height: 29.67px; left: 1.26px; top: 0.32px; position: absolute; background: #8989A2"></div>
                    <div style="width: 20.52px; height: 29.37px; left: 1.95px; top: 0.02px; position: absolute; background: #8989A2"></div>
                    <div style="width: 20.52px; height: 29.97px; left: 1.89px; top: 0.01px; position: absolute; background: #8989A2"></div>
                    <div style="width: 23.10px; height: 29.67px; left: 0px; top: 0px; position: absolute; background: #8989A2"></div>
                    <div style="width: 9.30px; height: 7.74px; left: 1.54px; top: 21.94px; position: absolute; background: #8989A2"></div>
                    <div style="width: 11.55px; height: 6.32px; left: 1.89px; top: 23.65px; position: absolute; background: #8989A2"></div>
                    <div style="width: 12.85px; height: 3.45px; left: 1.95px; top: 25.95px; position: absolute; background: #8989A2"></div>
                    <div style="width: 13.90px; height: 1.78px; left: 1.26px; top: 28.21px; position: absolute; background: #8989A2"></div>
                    <div style="width: 55.73px; height: 15.94px; left: 30.83px; top: 5.12px; position: absolute; background: #8989A2"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 1174px; height: 414px; left: 238px; top: 1852px; position: absolute">
        <div style="width: 509px; height: 200px; left: 0px; top: 104px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="width: 258px; height: 40px; position: relative">
                <div style="width: 258px; height: 40px; left: 0px; top: 0px; position: absolute; background: #F9F0FF"></div>
                <div style="left: 54px; top: 10px; position: absolute; color: #722ED1; font-size: 16px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">For Engineering Teams</div>
                <div style="width: 23.22px; height: 24px; left: 16px; top: 8px; position: absolute">
                    <div style="width: 7.74px; height: 10.06px; left: 7.74px; top: 0px; position: absolute; background: #722ED1"></div>
                    <div style="width: 23.22px; height: 14.61px; left: 0px; top: 9.39px; position: absolute; background: #722ED1"></div>
                </div>
            </div>
            <div style="color: #160637; font-size: 32px; font-family: Metropolis; font-weight: 700; line-height: 40px; word-wrap: break-word">Data-driven pipelines in minutes</div>
            <div style="width: 474px; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Maintenance-free data pipelines with quick set-up and straight-forward deployments that are powered by a modern & scalable platform.</div>
        </div>
        <img style="width: 684px; height: 414px; left: 490px; top: 0px; position: absolute" src="https://via.placeholder.com/684x414" />
    </div>
    <div style="width: 974.50px; height: 435.50px; left: 224px; top: 1296px; position: absolute">
        <div style="width: 474px; height: 200px; left: 500.50px; top: 125px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="width: 224px; height: 40px; position: relative">
                <div style="width: 224px; height: 40px; left: 0px; top: 0px; position: absolute; background: #F9F0FF"></div>
                <div style="left: 54px; top: 12px; position: absolute; color: #722ED1; font-size: 16px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">For Product Teams</div>
                <div style="width: 24px; height: 24.01px; left: 16px; top: 8px; position: absolute">
                    <div style="width: 7px; height: 24.01px; left: 4px; top: 0px; position: absolute; background: #722ED1"></div>
                    <div style="width: 7px; height: 15.01px; left: 0px; top: 9px; position: absolute; background: #722ED1"></div>
                    <div style="width: 7px; height: 24.01px; left: 13px; top: 0px; position: absolute; background: #722ED1"></div>
                    <div style="width: 7px; height: 15.01px; left: 17px; top: 9px; position: absolute; background: #722ED1"></div>
                </div>
            </div>
            <div style="color: #160637; font-size: 32px; font-family: Metropolis; font-weight: 700; line-height: 40px; word-wrap: break-word">Launch with the best stack</div>
            <div style="width: 474px; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">A centralized platform that integrates zillions of data sources using Big Data ELT (Extract, Load & Transform) that leaves no data behind</div>
        </div>
        <div style="width: 412.50px; height: 435.50px; left: 0px; top: 0px; position: absolute">
            <div style="width: 399px; height: 399px; left: 13.50px; top: 36.50px; position: absolute">
                <div style="width: 303px; height: 304px; left: 48px; top: 48px; position: absolute; border: 1px #EEDFF9 solid"></div>
                <div style="width: 399px; height: 399px; left: 0px; top: 0px; position: absolute; border: 1px #EEDFF9 solid"></div>
                <div style="width: 209px; height: 209px; left: 95px; top: 95px; position: absolute; border: 1px #EEDFF9 solid"></div>
            </div>
            <div style="width: 397px; height: 435px; left: 0px; top: 0px; position: absolute">
                <div style="width: 111px; height: 78px; left: 0px; top: 75px; position: absolute">
                    <div style="width: 72px; height: 71px; left: 20.99px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                    <div style="width: 111px; height: 69px; left: 0px; top: 9px; position: absolute"></div>
                    <img style="width: 48px; height: 44px; left: 33px; top: 15px; position: absolute" src="https://via.placeholder.com/48x44" />
                </div>
                <div style="width: 75px; height: 75px; left: 173.01px; top: 0px; position: absolute">
                    <div style="width: 75px; height: 75px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                    <img style="width: 61px; height: 61px; left: 6.99px; top: 7px; position: absolute" src="https://via.placeholder.com/61x61" />
                </div>
                <div style="width: 62px; height: 62px; left: 28.99px; top: 237px; position: absolute">
                    <div style="width: 62px; height: 62px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                    <img style="width: 35px; height: 29px; left: 13.01px; top: 16px; position: absolute" src="https://via.placeholder.com/35x29" />
                </div>
                <div style="width: 115px; height: 114px; left: 153px; top: 179px; position: absolute">
                    <div style="width: 115px; height: 114px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                    <div style="width: 48px; height: 48px; left: 34px; top: 33px; position: absolute">
                        <div style="width: 24px; height: 20.57px; left: 0px; top: 0px; position: absolute; background: #00C8F0"></div>
                        <div style="width: 24px; height: 27.43px; left: 0px; top: 13.71px; position: absolute; background: #1563FF"></div>
                        <div style="width: 12px; height: 20.57px; left: 24px; top: 27.43px; position: absolute; background: #1563FF"></div>
                        <div style="width: 24px; height: 27.43px; left: 24px; top: 0px; position: absolute; background: #1563FF"></div>
                        <div style="width: 24px; height: 20.57px; left: 24px; top: 13.71px; position: absolute; background: #00C8F0"></div>
                        <div style="width: 12px; height: 13.71px; left: 24px; top: 27.43px; position: absolute; background: #0B96F8"></div>
                    </div>
                </div>
                <div style="width: 71px; height: 72px; left: 254px; top: 323px; position: absolute">
                    <div style="width: 71px; height: 72px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                    <img style="width: 53px; height: 52px; left: 9px; top: 10px; position: absolute" src="https://via.placeholder.com/53x52" />
                </div>
                <div style="width: 72px; height: 71px; left: 289px; top: 103.01px; position: absolute">
                    <div style="width: 72px; height: 71px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                    <img style="width: 53px; height: 53px; left: 10px; top: 9px; position: absolute" src="https://via.placeholder.com/53x53" />
                </div>
                <div style="width: 71px; height: 71px; left: 94px; top: 364px; position: absolute; background: white; box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.12)"></div>
                <img style="width: 47px; height: 41px; left: 106px; top: 380px; position: absolute" src="https://via.placeholder.com/47x41" />
                <div style="width: 72px; height: 72px; left: 325px; top: 219px; position: absolute">
                    <div style="width: 72px; height: 72px; left: 0px; top: 0px; position: absolute; background: white"></div>
                    <img style="width: 56px; height: 56px; left: 8px; top: 8px; position: absolute" src="https://via.placeholder.com/56x56" />
                </div>
            </div>
        </div>
    </div>
    <div style="left: 240px; top: 808px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
        <div style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #F7F1FF; border-radius: 20px; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
            <div style="width: 25.78px; height: 17.18px; background: #722ED1"></div>
            <div style="color: #722ED1; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Why Qubly</div>
        </div>
        <div style="text-align: center; color: #160637; font-size: 32px; font-family: Metropolis; font-weight: 700; line-height: 40px; word-wrap: break-word">Get actionable insights from Big Data in 3 steps</div>
        <div style="width: 672px; text-align: center; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
        <div style="justify-content: center; align-items: center; gap: 16px; display: inline-flex">
            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 40px; height: 40px; position: relative">
                    <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: #E6F7FF"></div>
                    <div style="width: 17.32px; height: 17.32px; left: 11.34px; top: 11.34px; position: absolute">
                        <div style="width: 4.33px; height: 8.12px; left: 6.49px; top: 9.20px; position: absolute; background: #1890FF"></div>
                        <div style="width: 4.33px; height: 4.87px; left: 0px; top: 12.45px; position: absolute; background: #1890FF"></div>
                        <div style="width: 4.33px; height: 11.37px; left: 12.99px; top: 5.95px; position: absolute; background: #1890FF"></div>
                        <div style="width: 11.75px; height: 6.50px; left: 2.87px; top: -0px; position: absolute; background: #1890FF"></div>
                    </div>
                </div>
                <div style="width: 307px; text-align: center; color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; line-height: 24px; word-wrap: break-word">Valuable business insights</div>
                <div style="width: 305px; text-align: center; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Collect processed & cleansed data that is ready to be analyzed to gather valuable business insights.</div>
            </div>
            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 40px; height: 40px; position: relative">
                    <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: #FFF1F0"></div>
                    <div style="width: 16.09px; height: 16.09px; left: 11.47px; top: 11.47px; position: absolute">
                        <div style="width: 14.88px; height: 7.97px; left: 0.60px; top: 0px; position: absolute; background: #F5222D"></div>
                        <div style="width: 16.09px; height: 8.92px; left: 0px; top: 7.17px; position: absolute; background: #F5222D"></div>
                        <div style="width: 2.72px; height: 4.44px; left: 4.52px; top: 2.81px; position: absolute; background: #F5222D"></div>
                        <div style="width: 2.72px; height: 4.44px; left: 8.84px; top: 2.81px; position: absolute; background: #F5222D"></div>
                    </div>
                </div>
                <div style="text-align: center; color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; line-height: 24px; word-wrap: break-word">Powerful Algorithms</div>
                <div style="width: 307px; text-align: center; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">With the help of powerful algorithms, quality rules & techniques, obtain simplified & enriched data.</div>
            </div>
            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 40px; height: 40px; position: relative">
                    <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: #F6FFED"></div>
                    <div style="width: 16px; height: 16.43px; left: 12px; top: 12px; position: absolute">
                        <div style="width: 4.11px; height: 16.43px; left: 5.95px; top: 0px; position: absolute; background: #52C41A"></div>
                        <div style="width: 5px; height: 5px; left: 11px; top: 1.22px; position: absolute; background: #52C41A"></div>
                        <div style="width: 5px; height: 5px; left: 11px; top: 10.22px; position: absolute; background: #52C41A"></div>
                        <div style="width: 5px; height: 6px; left: 0px; top: 5.22px; position: absolute; background: #52C41A"></div>
                    </div>
                </div>
                <div style="color: #160637; font-size: 16px; font-family: Metropolis; font-weight: 700; line-height: 24px; word-wrap: break-word">Data in real-time</div>
                <div style="width: 317px; text-align: center; color: #8989A2; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Collect data in real-time from multiple channels and move it into a data lake, in its original format.</div>
            </div>
        </div>
    </div>
    <div style="width: 1440px; height: 696px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 696px; left: 0px; top: -0px; position: absolute; background: linear-gradient(180deg, white 0%, #E2F1FF 100%)"></div>
        <div style="width: 472px; height: 294px; left: 240px; top: 203px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #F7F1FF; border-radius: 20px; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
                <div style="width: 16px; height: 16px; position: relative">
                    <div style="width: 6px; height: 6px; left: 10px; top: 0px; position: absolute; background: #722ED1"></div>
                    <div style="width: 12px; height: 12px; left: 0px; top: 4px; position: absolute; background: #722ED1"></div>
                </div>
                <div><span style="color: #722ED1; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">v3.1 released. </span><span style="color: #722ED1; font-size: 16px; font-family: Metropolis; font-weight: 500; text-decoration: underline; line-height: 24px; word-wrap: break-word">Learn more</span></div>
            </div>
            <div style="width: 472px; color: black; font-size: 48px; font-family: Metropolis; font-weight: 700; word-wrap: break-word">Your data with real-time analytics</div>
            <div style="width: 472px; opacity: 0.50; color: black; font-size: 16px; font-family: Metropolis; font-weight: 500; line-height: 24px; word-wrap: break-word">Harness the potential of Big Data Analytics & Cloud Services and become a data-driven organization with Needle tail</div>
            <div style="position: relative">
                <div style="width: 126px; height: 38px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; left: 158px; top: 0px; position: absolute; background: white; border-radius: 23px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="color: #722ED1; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Learn more</div>
                </div>
                <div style="width: 142px; height: 38px; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; left: 0px; top: 0px; position: absolute; background: #722ED1; border-radius: 23px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="color: white; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Start free trial</div>
                </div>
            </div>
        </div>
        <div style="width: 960px; height: 53px; left: 240px; top: 19px; position: absolute">
            <div style="width: 517px; height: 38px; left: 443px; top: 0px; position: absolute; justify-content: center; align-items: center; gap: 40px; display: inline-flex">
                <div style="position: relative">
                    <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">About</div>
                    <div style="width: 8px; height: 4px; left: 47px; top: 5px; position: absolute; border: 1px #020202 solid"></div>
                </div>
                <div style="color: black; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Pricing</div>
                <div style="color: black; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Contact Us</div>
                <div style="color: black; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Login</div>
                <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 23px; border: 1px #722ED1 solid; justify-content: center; align-items: center; gap: 10px; display: flex">
                    <div style="color: #722ED1; font-size: 14px; font-family: Metropolis; font-weight: 500; word-wrap: break-word">Start free trial</div>
                </div>
            </div>
            <div style="width: 48px; height: 48px; left: 0px; top: 5px; position: absolute">
                <div style="width: 24px; height: 20.57px; left: 0px; top: 0px; position: absolute; background: #431F5A"></div>
                <div style="width: 24px; height: 27.43px; left: 0px; top: 13.71px; position: absolute; background: #722ED1"></div>
                <div style="width: 12px; height: 20.57px; left: 24px; top: 27.43px; position: absolute; background: #722ED1"></div>
                <div style="width: 24px; height: 27.43px; left: 24px; top: 0px; position: absolute; background: #722ED1"></div>
                <div style="width: 24px; height: 20.57px; left: 24px; top: 13.71px; position: absolute; background: #431F5A"></div>
                <div style="width: 12px; height: 13.71px; left: 24px; top: 27.43px; position: absolute; background: #431F5A"></div>
            </div>
        </div>
        <img style="width: 472px; height: 370px; left: 728px; top: 168px; position: absolute" src="https://via.placeholder.com/472x370" />
    </div>
</div>
</body>
</html>
