<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/styles/index.css" />
</head>
<body>
<div class="main-container">
    <div class="flex-row-ed">
        <div class="logo-zentitech-redondo"></div>
        <div class="bg">
            <div class="frame">
                <div class="about-us">
                    <span class="sobre">Sobre</span>
                    <div class="small-down">
                        <div class="group"><div class="path"></div></div>
                    </div>
                </div>
                <span class="text-2">Preço</span
                ><span class="contate-nos">Contate-nos</span
            ><span class="login">Login</span>
                <div class="button-primary">
                    <button class="teste-gratuito">Teste Gratuito</button>
                </div>
            </div>
            <div class="flex-row-bb">
                <div class="openart-befaabcebd-raw-removebg"></div>
                <div class="content">
                    <div class="tag">
                        <div class="edit-brightness"></div>
                        <button class="v-released-learn-more">
                  <span class="v-released">v3.1 released. </span
                  ><span class="learn-more">Learn more</span>
                        </button>
                    </div>
                    <span class="text-7"
                    >Gerencie usuários com facilidade e eficiência.</span
                    ><span class="text-8"
                >Gerencie usuários de forma eficiente com Zentitech,
                simplificando cadastros e otimizando controle de acesso com
                elegância tecnológica.</span
                >
                    <div class="buttons">
                        <div class="button-primary-1">
                            <span class="saiba-mais">Saiba Mais</span>
                        </div>
                        <div class="button-primary-2">
                            <span class="teste-gratuito-3"> Teste Gratuito</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why-qubly">
        <div class="tag-4">
            <div class="icon-awesome-eye"></div>
            <span class="porque-zentitech">Porque Zentitech</span>
        </div>
        <span class="lorem-ipsum-dolor"
        >Lorem ipsum dolor sit amet, consetetur sadipscing elitr</span
        ><span class="lorem-ipsum-dolor-sit-amet"
    >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua.</span
    >
        <div class="features">
            <div class="valuable-insights">
                <div class="chart-bar"></div>
                <span class="lorem-ipsum">Lorem Ipsum</span
                ><span class="lorem-ipsum-text"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore
            </span>
            </div>
            <div class="powerful-algorithms">
                <div class="newsletter-dev"></div>
                <span class="lorem-ipsum-5">Lorem Ipsum</span
                ><span class="lorem-ipsum-text-6"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore
            </span>
            </div>
            <div class="data-real-time">
                <div class="timeline">
                    <div class="group-7">
                        <div class="path-8"></div>
                        <div class="flex-column-af">
                            <div class="rectangle"></div>
                            <div class="rectangle-9"></div>
                        </div>
                        <div class="rectangle-a"></div>
                    </div>
                    <div class="ellipse"></div>
                </div>
                <span class="lorem-ipsum-b">Lorem Ipsum</span
                ><span class="lorem-ipsum-text-c"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore
            </span>
            </div>
        </div>
    </div>
    <div class="flex-row-c">
        <div class="group-d"></div>
        <div class="concentric-circles">
            <div class="flex-row-def">
                <div class="ellipse-e"><div class="image"></div></div>
                <div class="group-f"></div>
            </div>
            <div class="flex-row-aa">
                <div class="group-10"></div>
                <div class="ellipse-11">
                    <div class="psolv-output-redshift"></div>
                </div>
                <div class="group-12"></div>
            </div>
            <div class="flex-row-d">
                <div class="group-13"></div>
                <div class="ellipse-14"><div class="image-15"></div></div>
            </div>
        </div>
        <div class="cmzr-pefppoohv-jxq"></div>
        <div class="content-16">
            <div class="tag-17">
                <div class="rectangle-18"></div>
                <div class="electronic-circuit"><div class="group-19"></div></div>
                <span class="for-product-teams">For Product Teams</span>
            </div>
            <span class="lorem-ipsu-lorem">Lorem Ipsu Lorem Ipsu</span
            ><span class="lorem-ipsum-dolor-1a"
        >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore Lorem ispu lorem ipsu lorem
            ipsu.</span
        >
        </div>
    </div>
    <div class="flex-row-ffa">
        <div class="image-1b"></div>
        <div class="frame-1c">
            <div class="tag-1d">
                <div class="rectangle-1e"></div>
                <div class="compass"><div class="group-1f"></div></div>
                <span class="for-engineering-teams">For Engineering Teams</span>
            </div>
            <span class="lorem-ipsu-lorem-20">Lorem Ipsu Lorem Ipsu</span
            ><span class="lorem-ipsum-dolor-21"
        >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore consetetur sadipscing elitr,
            sed diam nonumy</span
        >
        </div>
    </div>
    <div class="flex-row-b">
        <div class="frame-22">
            <div class="lorem-ipsum-dolor-23">
            <span class="span">"</span
            ><span class="lorem-ipsum-dolor-24"
            >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore </span
            ><span class="span-25">"</span>
            </div>
            <div class="icon-x"></div>
            <span class="lorem-ipsu-cto">Lorem Ipsu<br />CTO @ LoremIpsu</span>
            <div class="line"></div>
            <div class="client-logos">
                <div class="tonkean"></div>
                <div class="bigspring"><div class="group-26"></div></div>
                <div class="clearbit">
                    <div class="flex-column">
                        <div class="path-27"></div>
                        <div class="path-28"></div>
                        <div class="path-29"></div>
                    </div>
                    <div class="group-2a">
                        <div class="path-2b"></div>
                        <div class="path-2c"></div>
                        <div class="path-2d"></div>
                        <div class="path-2e"></div>
                        <div class="path-2f"></div>
                        <div class="path-30"></div>
                        <div class="path-31"></div>
                        <div class="path-32"></div>
                    </div>
                </div>
                <div class="mine">
                    <div class="group-33"><div class="fill"></div></div>
                    <div class="fill-34"></div>
                    <div class="fill-35"></div>
                    <div class="group-36"><div class="fill-37"></div></div>
                </div>
                <div class="shake"></div>
            </div>
        </div>
        <div class="path-38"></div>
    </div>
    <div class="flex-row">
        <div class="frame-39">
            <span class="sign-up">Sign Up</span>
            <div class="btn-primary">
            <span class="inicie-teste-gratuito"
            >Inicie o seu teste gratuito</span
            >
                <div class="group-3a"><div class="rectangle-3b"></div></div>
            </div>
            <div class="frame-3c">
                <span class="seu-email-principal">Seu e-mail principal</span>
            </div>
            <div class="frame-3d"><span class="senha">Senha</span></div>
            <div class="frame-3e">
                <span class="digite-novamente">Digite Novamente</span>
            </div>
            <span class="ou">OU</span>
            <div class="btn-google-signin-dark"></div>
            <div class="line-3f"></div>
            <div class="ja-tem-uma-conta-login">
            <span class="ja-tem-uma-conta">Já tem uma conta? </span
            ><span class="login-40">Login</span>
            </div>
        </div>
        <div class="rectangle-41"></div>
        <span class="lorem-ipsum-42"
        >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore</span
        ><span class="lorem-ipsum-43">Lorem Ipsu</span>
        <div class="line-44"></div>
        <div class="line-45"></div>
        <div class="react"></div>
        <div class="accenture"></div>
        <div class="airbnb"></div>
        <div class="sky"></div>
    </div>
    <div class="frame-46">
        <div class="group-47">
            <div class="logo"></div>
            <span class="lorem-ipsum-48"
            >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat ut wisi enim ad minim</span
            >
            <div class="social-media-icons">
                <div class="twitter"></div>
                <div class="facebook-icon"></div>
                <div class="instagram"></div>
            </div>
        </div>
        <div class="product">
          <span class="product-49">Product</span
          ><span class="connections-protocols-personas"
        >Connections<br />Protocols<br />Personas<br />Integrations<br />Catalog<br />Pricing<br />Security<br />GDPR</span
        >
        </div>
        <div class="for-developers">
          <span class="for-developers-4a">For Developers</span
          ><span class="docs-api-open-source"
        >Docs<br />API<br />Open Source<br />Engineering Team</span
        >
        </div>
        <div class="company">
          <span class="company-4b">Company</span
          ><span class="careers-blog-press">Careers<br />Blog<br />Press</span>
        </div>
        <div class="support">
          <span class="support-4c">Support</span
          ><span class="help-center-contact"
        >Help Center<br />Contact Us<br />Security<br />Bulletins<br />Documentation<br />Partner<br />Portal</span
        >
        </div>
        <div class="newsletter">
            <span class="newsletter-4d">Newsletter</span>
            <div class="group-4e"><div class="rectangle-4f"></div></div>
            <div class="icon-ionic-ios-send"></div>
            <span class="email">Email</span>
        </div>
    </div>
    <div class="flex-row-50">
        <span class="mateus-gomes">Mateus Gomes</span>
        <div class="image-51"></div>
    </div>
    <div class="bg-52"></div>
</div>
</body>
</html>