<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14NNPL17P7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-14NNPL17P7');
    </script>
    <meta charset="UTF-8">
    <title>Atualizar Usuário</title>
    <meta name="google-adsense-account" content="ca-pub-7169687534152385">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#100d28">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Zentitech">
    <meta name="application-name" content="Zentitech">
    <meta name="msapplication-TileColor" content="#100d28">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#100d28">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/static/styles/update.css" th:href="@{/static/styles/update.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/users/create-html}">
            <img src="/static/image/logo-zentitech-redondo.png" th:src="@{/static/image/logo-zentitech-redondo.png}" class="navbar-logo" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users/create-html}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/all}">Listar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/search}">Pesquisar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/update-html}">Atualizar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Desabilitado</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5 pt-5">
    <h3 id="user-register">Atualização de Usuário</h3>
    <form th:action="@{/users/update}" th:object="${user}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" th:field="*{id}" placeholder="ID" aria-label="id" aria-describedby="addon-wrapping">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label" id="user">Usuário</label>
            <input type="text" class="form-control" th:field="*{username}" id="username" required>
            <div id="usernameHelp" class="form-text">
                O nome de usuário deve ter de 6 a 12 caracteres.
            </div>
        </div>
        <div class="mb-3">
            <label for="fullName" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" th:field="*{fullName}" id="fullName" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}" id="email" required>
            <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.</div>
        </div>
        <div class="mb-3">
            <label for="cpfCnpj" class="form-label">CPF/CNPJ</label>
            <input type="text" class="form-control" th:field="*{cpfCnpj}" id="cpfCnpj">
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" th:field="*{birthday}" id="birthday">
        </div>
        <div class="mb-3">
            <label for="cellphone" class="form-label">Celular</label>
            <input type="text" class="form-control" th:field="*{cellphone}" id="cellphone" required>
        </div>
        <div class="mb-3">
            <label for="comunication" class="form-label">Comunicação</label>
            <input type="text" class="form-control" th:field="*{comunication}" id="comunication">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check</label>
        </div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-2/8yHeV/kZj6pIbg6W6IOp7mPzjJlrMlQcpGIl9Vc2DHd5lD/cZG1Y8I9P/q/Ag+" crossorigin="anonymous"></script>
</body>
</html>