body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    height: 100px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}

.alert-danger {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        box-shadow: none;
    }

    .navbar-brand img {
        max-width: 70px;
    }

    h2 {
        font-size: 24px;
    }

    .btn-primary {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    .navbar-brand img {
        max-width: 50px;
    }

    h2 {
        font-size: 20px;
    }

    .btn-primary {
        font-size: 12px;
        padding: 6px;
    }
}