@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto+Flex:500,700,400|Actor:400|Roboto:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --primarypurple: rgba(114, 46, 209, 1);
  --white: rgba(255, 255, 255, 1);
  --shadow-2: 4px 4px 12px 0px rgba(137, 137, 162, 0.12);
}

.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
}

.element .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1280px;
  height: 4181px;
  position: relative;
}

.element .footer {
  position: absolute;
  width: 1442px;
  height: 400px;
  top: 3776px;
  left: -80px;
  background-color: transparent;
}

.element .overlap {
  position: relative;
  width: 1280px;
  height: 400px;
  left: 80px;
  background-image: url(./img/bg.svg);
  background-size: 100% 100%;
}

.element .mateus-gomes {
  position: absolute;
  top: 372px;
  left: 572px;
  font-family: "Roboto Condensed-Regular", Helvetica;
  font-weight: 400;
  color: #160637;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .image {
  width: 18px;
  height: 18px;
  top: 373px;
  left: 639px;
  position: absolute;
  object-fit: cover;
}

.element .frame {
  position: absolute;
  width: 934px;
  height: 263px;
  top: 74px;
  left: 157px;
}

.element .group {
  position: absolute;
  width: 215px;
  height: 180px;
  top: 80px;
  left: 0;
}

.element .social-media-icons {
  position: absolute;
  width: 76px;
  height: 16px;
  top: 164px;
  left: 0;
}

.element .text-wrapper {
  position: absolute;
  width: 209px;
  top: 0;
  left: 4px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #160637;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

.element .product {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 253px;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .flexcontainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.element .text {
  position: relative;
  align-self: stretch;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #160637;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.element .span {
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #160637;
  font-size: 12px;
  letter-spacing: 0;
}

.element .for-developers {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 363px;
}

.element .company {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 516px;
}

.element .support {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 628px;
}

.element .newsletter {
  position: absolute;
  width: 184px;
  height: 78px;
  top: 0;
  left: 754px;
}

.element .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .overlap-group {
  position: absolute;
  width: 198px;
  height: 58px;
  top: 34px;
  left: -9px;
  background-image: url(./img/group-3.png);
  background-size: 100% 100%;
}

.element .text-wrapper-4 {
  position: absolute;
  top: 16px;
  left: 25px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #8989a2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .icon-ionic-ios-send {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 16px;
  left: 157px;
}

.element .logo-zentitech {
  top: -7px;
  left: -11px;
  position: absolute;
  width: 79px;
  height: 79px;
  object-fit: cover;
}

.element .signup-form {
  position: absolute;
  width: 946px;
  height: 557px;
  top: 3116px;
  left: 181px;
}

.element .form {
  position: absolute;
  width: 480px;
  height: 557px;
  top: 0;
  left: 464px;
  background-image: url(./img/rectangle-373.svg);
  background-size: 100% 100%;
}

.element .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px 40px;
  position: relative;
  top: 25px;
  left: 26px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--shadow-2);
}

.element .text-wrapper-5 {
  position: relative;
  width: 347px;
  margin-top: -1px;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.element .btn-primary {
  position: relative;
  width: 346px;
  height: 48px;
}

.element .div-wrapper {
  position: relative;
  width: 356px;
  height: 60px;
  top: -3px;
  left: -6px;
  background-image: url(./img/group.png);
  background-size: 100% 100%;
}

.element .p {
  position: absolute;
  top: 15px;
  left: 88px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  border: 1px solid;
  border-color: #d9d9d9;
}

.element .text-wrapper-6 {
  position: relative;
  width: 316px;
  margin-top: -1px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #8989a2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .btn-google-signin {
  position: relative;
  width: 199.3px;
  height: 48px;
  object-fit: cover;
}

.element .line {
  position: relative;
  width: 336px;
  height: 1px;
  object-fit: cover;
}

.element .j-tem-uma-conta {
  position: relative;
  width: fit-content;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .text-wrapper-8 {
  color: #8989a2;
}

.element .text-wrapper-9 {
  color: #722ed1;
}

.element .client-logos {
  position: absolute;
  width: 262px;
  height: 156px;
  top: 292px;
  left: 62px;
}

.element .accenture {
  position: absolute;
  width: 134px;
  height: 35px;
  top: 4px;
  left: 2px;
}

.element .react {
  position: absolute;
  width: 63px;
  height: 56px;
  top: 0;
  left: 198px;
}

.element .airbnb {
  position: absolute;
  width: 130px;
  height: 41px;
  top: 115px;
  left: 0;
}

.element .sky {
  position: absolute;
  width: 54px;
  height: 32px;
  top: 124px;
  left: 202px;
}

.element .trusted-by {
  position: absolute;
  width: 386px;
  height: 24px;
  top: 221px;
  left: 0;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 147px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #8989a2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .img {
  position: absolute;
  width: 144px;
  top: 12px;
  left: 0;
  height: 1px;
  object-fit: cover;
}

.element .line-2 {
  position: absolute;
  width: 144px;
  top: 12px;
  left: 240px;
  height: 1px;
  object-fit: cover;
}

.element .text-wrapper-11 {
  position: absolute;
  width: 403px;
  top: 33px;
  left: 23px;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.element .testimonial {
  position: absolute;
  width: 1440px;
  height: 730px;
  top: 2304px;
  left: -80px;
}

.element .frame-wrapper {
  position: relative;
  width: 1280px;
  height: 730px;
  left: 80px;
  background-image: url(./img/path-606.svg);
  background-size: 100% 100%;
}

.element .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  top: 205px;
  left: 176px;
}

.element .a-zentitech {
  position: relative;
  width: 964px;
  margin-top: -1px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #160637;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.element .icon {
  position: relative;
  width: 81px;
  height: 81px;
  object-fit: cover;
}

.element .lucas-almeida-CTO {
  position: relative;
  width: fit-content;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element .line-3 {
  position: relative;
  width: 964px;
  height: 1px;
  object-fit: cover;
}

.element .client-logos-2 {
  position: relative;
  flex: 0 0 auto;
}

.element .for-engineering {
  position: absolute;
  width: 1094px;
  height: 414px;
  top: 1856px;
  left: 165px;
}

.element .overlap-2 {
  position: relative;
  height: 414px;
}

.element .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 104px;
  left: 0;
}

.element .tag {
  position: relative;
  width: 276px;
  height: 40px;
}

.element .overlap-group-2 {
  position: relative;
  width: 274px;
  height: 40px;
  background-image: url(./img/rectangle-366.svg);
  background-size: 100% 100%;
  background-color: #f6f0ff;
  border-radius: 20px;
}

.element .text-wrapper-12 {
  top: 10px;
  position: absolute;
  left: 54px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #722ed1 !important;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .compass {
  position: absolute;
  width: 23px;
  height: 24px;
  top: 8px;
  left: 16px;
}

.element .text-wrapper-13 {
  position: relative;
  width: fit-content;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.element .text-wrapper-14 {
  position: relative;
  width: 474px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #8989a2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.element .image-2 {
  width: 684px;
  height: 414px;
  top: 0;
  left: 410px;
  position: absolute;
  object-fit: cover;
}

.element .for-product-teams {
  position: absolute;
  width: 937px;
  height: 436px;
  top: 1301px;
  left: 201px;
}

.element .content {
  width: 474px;
  height: 200px;
  top: 131px;
  left: 463px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
}

.element .overlap-group-wrapper {
  position: relative;
  width: 247px;
  height: 40px;
}

.element .overlap-group-3 {
  position: relative;
  width: 245px;
  height: 40px;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
  background-color: #f6f0ff;
  border-radius: 20px;
}

.element .text-wrapper-15 {
  top: 12px;
  position: absolute;
  left: 54px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #722ed1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .electronic-circuit {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 16px;
}

.element .overlap-wrapper {
  position: absolute;
  width: 412px;
  height: 436px;
  top: 0;
  left: 0;
}

.element .overlap-3 {
  position: relative;
  width: 413px;
  height: 436px;
}

.element .concentric-circles {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 36px;
  left: 13px;
}

.element .logos {
  position: absolute;
  width: 357px;
  height: 435px;
  top: 0;
  left: 0;
}

.element .group-2 {
  position: absolute;
  width: 111px;
  height: 78px;
  top: 75px;
  left: 0;
}

.element .overlap-group-4 {
  position: relative;
  height: 95px;
  top: -8px;
}

.element .group-3 {
  position: absolute;
  width: 96px;
  height: 95px;
  top: 0;
  left: 13px;
}

.element .mask-group {
  position: absolute;
  width: 111px;
  height: 69px;
  top: 17px;
  left: 0;
}

.element .image-3 {
  width: 48px;
  height: 44px;
  top: 23px;
  left: 33px;
  position: absolute;
  object-fit: cover;
}

.element .group-4 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 146px;
}

.element .psolv-output-wrapper {
  position: relative;
  width: 99px;
  height: 99px;
  top: -8px;
  left: -8px;
  background-image: url(./img/ellipse-9.svg);
  background-size: 100% 100%;
}

.element .psolv-output {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 15px;
  left: 15px;
}

.element .group-5 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 237px;
  left: 29px;
}

.element .image-wrapper {
  position: relative;
  width: 86px;
  height: 86px;
  top: -8px;
  left: -8px;
  background-image: url(./img/ellipse-10.svg);
  background-size: 100% 100%;
}

.element .image-4 {
  width: 35px;
  height: 29px;
  top: 24px;
  left: 21px;
  position: absolute;
  object-fit: cover;
}

.element .overlap-4 {
  position: absolute;
  width: 225px;
  height: 206px;
  top: 103px;
  left: 132px;
}

.element .overlap-5 {
  position: absolute;
  width: 189px;
  height: 206px;
  top: 0;
  left: 0;
}

.element .group-6 {
  position: absolute;
  width: 139px;
  height: 138px;
  top: 68px;
  left: 0;
}

.element .group-7 {
  position: absolute;
  width: 72px;
  height: 71px;
  top: 0;
  left: 117px;
}

.element .psolv-output-mysql-wrapper {
  position: relative;
  width: 96px;
  height: 95px;
  top: -8px;
  left: -8px;
  background-image: url(./img/ellipse-11.svg);
  background-size: 100% 100%;
}

.element .psolv-output-mysql {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 17px;
  left: 18px;
}

.element .group-8 {
  position: absolute;
  width: 77px;
  height: 72px;
  top: 116px;
  left: 148px;
}

.element .mask-group-wrapper {
  position: relative;
  width: 96px;
  height: 96px;
  top: -8px;
  left: -3px;
  background-image: url(./img/image.png);
  background-size: 100% 100%;
}

.element .mask-group-2 {
  position: relative;
  width: 56px;
  height: 56px;
  top: 16px;
  left: 3px;
  background-image: url(./img/psolv-output-redshift.png);
  background-size: 100% 100%;
}

.element .group-9 {
  position: absolute;
  width: 71px;
  height: 72px;
  top: 323px;
  left: 214px;
}

.element .img-wrapper {
  position: relative;
  width: 95px;
  height: 96px;
  top: -8px;
  left: -8px;
  background-image: url(./img/ellipse-12.svg);
  background-size: 100% 100%;
}

.element .image-5 {
  width: 53px;
  height: 52px;
  top: 18px;
  left: 17px;
  position: absolute;
  object-fit: cover;
}

.element .overlap-6 {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 356px;
  left: 73px;
  background-image: url(./img/ellipse-13.svg);
  background-size: 100% 100%;
}

.element .image-6 {
  width: 47px;
  height: 41px;
  top: 24px;
  left: 20px;
  position: absolute;
  object-fit: cover;
}

.element .why-qubly {
  position: absolute;
  width: 1019px;
  height: 400px;
  top: 784px;
  left: 164px;
}

.element .tag-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 415px;
  background-color: #f6f0ff;
  border-radius: 20px;
}

.element .icon-awesome-eye {
  position: relative;
  width: 25.78px;
  height: 17.18px;
}

.element .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #722ed1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .text-wrapper-17 {
  position: absolute;
  top: 63px;
  left: 46px;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .text-wrapper-18 {
  position: absolute;
  width: 672px;
  top: 111px;
  left: 174px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #8989a2;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element .features {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 184px;
  left: 0;
}

.element .valuable-business {
  position: relative;
  width: 307px;
  height: 192px;
}

.element .chart-bar {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 134px;
}

.element .text-wrapper-19 {
  position: absolute;
  width: 307px;
  top: 55px;
  left: 0;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element .text-wrapper-20 {
  position: absolute;
  width: 305px;
  top: 95px;
  left: 1px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #8989a2;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element .powerful-algorithms {
  position: relative;
  width: 363px;
  height: 216px;
}

.element .newsletter-dev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 11px;
  left: 162px;
}

.element .text-wrapper-21 {
  position: absolute;
  top: 66px;
  left: 0;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .text-wrapper-22 {
  position: absolute;
  width: 307px;
  top: 106px;
  left: 28px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #8989a2;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element .data-in-real-time {
  position: relative;
  width: 317px;
  height: 192px;
}

.element .timeline {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 156px;
}

.element .text-wrapper-23 {
  position: absolute;
  top: 55px;
  left: 65px;
  font-family: "Roboto Flex-Bold", Helvetica;
  font-weight: 700;
  color: #160637;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .text-wrapper-24 {
  position: absolute;
  width: 317px;
  top: 95px;
  left: 18px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #8989a2;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.element .overlap-7 {
  position: absolute;
  width: 1728px !important;
  height: 746px;
  top: -10px;
  left: -94px;
  background: linear-gradient(180deg, white 0%, #E2F1FF 100%);
}

.element .hero {
  position: absolute;
  width: 100%;
  height: 746px;
  top: 0;
  left: 0;
}

.element .overlap-8 {
  position: relative;
  width: 100%;
  height: 736px;
  top: 10px;
  left: 94px;
  background-image: url(./img/BG.svg);
  background-size: 100% 100%;
}

.element .content-2 {
  width: 507px;
  height: 339px;
  top: 202px;
  left: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
}

.element .tag-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f7f1ff;
  border-radius: 20px;
}

.element .edit-brightness {
  position: relative;
  width: 16px;
  height: 16px;
}

.element .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #722ed1;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element .text-wrapper-26 {
  font-family: "Actor-Regular", Helvetica;
  font-size: 48px;
  line-height: normal;
  position: relative;
  width: 472px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
}

.element .text-wrapper-27 {
  opacity: 0.5;
  font-family: "Roboto Condensed-Regular", Helvetica;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  width: 472px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
}

.element .buttons {
  position: relative;
  width: 275px;
  height: 40px;
}

.element .button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  left: 158px;
  background-color: #ffffff;
  border-radius: 23px;
}

.element .text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: var(--primarypurple);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.element .teste-gratuito-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primarypurple);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  border-radius: 23px;
  cursor: pointer;
}

.element .teste-gratuito {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.element .nav {
  position: absolute;
  width: 492px;
  height: 40px;
  top: 19px;
  left: 616px;
}

.element .frame-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.element .about-us {
  position: relative;
  width: 57px;
  height: 16px;
}

.element .text-wrapper-29 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.element .small-down {
  position: absolute;
  width: 9px;
  height: 5px;
  top: 4px;
  left: 46px;
}

.element .text-wrapper-30 {
  position: relative;
  width: fit-content;
  font-family: "Roboto Flex-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.element .text-wrapper-31 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-CondensedRegular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.text-wrapper-29::after,
.text-wrapper-30::after,
.text-wrapper-31::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0056b3;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out
}

.text-wrapper-29:hover::after,
.text-wrapper-30:hover::after,
.text-wrapper-31:hover::after {
  transform: scaleX(1);
}

.element .text-wrapper-32 {
  position: relative;
  width: fit-content;
  font-family: "Roboto Flex-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.text-wrapper-32::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0056b3;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
 }

.text-wrapper-32:hover::after {
  transform: scaleX(1); /* Mostra a linha azul ao passar o mouse */
}

 .button-primary-2 {
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--primarypurple);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  border-radius: 23px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.button-primary-2:hover {
  background-color: #f6f0ff; /* Altera o background-color ao passar o mouse */
}

.text-wrapper-28::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Altura da linha azul embaixo */
  background-color: #0056b3; /* Cor da linha azul */
  transform: scaleX(0); /* Inicialmente sem largura */
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out; /* Transição suave para a animação */
}

.button-primary-2:hover .text-wrapper-28::after {
  transform: scaleX(1); /* Mostra a linha azul ao passar o mouse */
}

.element .openart {
  position: absolute;
  width: 429px;
  height: 397px;
  top: 101px;
  left: 723px;
  object-fit: cover;
}

.element .logo-zentitech-2 {
  top: 11px;
  left: 263px;
  position: absolute;
  width: 79px;
  height: 79px;
  object-fit: cover;
}