body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.navbar {
    z-index: 7000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.navbar-logo {
    height: 60px;
}

.container {
    width: 100%;
    max-width: 100%;
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    padding: 0;
}

.form-check-input {
    margin-left: 10px;
}

.btn-primary {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.nav-item {
    cursor: pointer
}