/* Sidebar transition */
.sidebar {
  transition: all 0.5s ease;
}

.sidebar.close {
  transition: all 0.5s ease;
}

/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --dark-bg-color: #333;
  --dark-blue-hover-color: #828282;
  --dark-white-color: #3a3b3c;
  --dark-blue-color: #5b5b5b;
  --dark-grey-color: #f2f2f2;
  --dark-grey-color-placeholder: #8b8b8b;
  --dark-grey-light-color: #aaa;
  --input-focus-color: #ffd700;
  --input-focus-dark-color: #808080;
}

/* Body and background */
html,
body {
  background-color: #f5faff;
  transition: all 0.5s ease;
}

body.dark {
  background-color: var(--dark-bg-color);
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}

body.dark .navbar {
  background-color: var(--dark-white-color);
}

/* Logo */
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--grey-color);
  padding-left: 30px;
}

body.dark .logo_item {
  color: var(--dark-grey-color);
}

.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Search bar */
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}

.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}

body.dark .search_bar input {
  background-color: var(--dark-white-color);
  color: var(--dark-grey-color);
  border: 1px solid var(--dark-grey-light-color);
}

/* Navbar content */
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
  padding-right: 30px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

body.dark .navbar_content i {
  color: var(--dark-grey-color);
}

/* Sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 65px 30px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

body.dark .sidebar {
  background-color: var(--dark-white-color);
  box-shadow: 0 0 1px var(--dark-grey-light-color);
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

body.dark .sidebar.close {
  background-color: var(--dark-white-color);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Menu content */
.menu_content {
  position: relative;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

body.dark .menu_title {
  color: var(--dark-grey-color);
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

body.dark .menu_title::before {
  color: var(--dark-grey-color);
}

.menu_dashboard::before {
  content: "Dashboard";
}

.menu_editor::before {
  content: "Editor";
}

.menu_setting::before {
  content: "Setting";
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

body.dark .sidebar.close .menu_title::before {
  background: var(--dark-grey-light-color);
}

/* Menu items */
.menu_items {
  padding: 0;
  list-style: none;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

body.dark .navlink_icon:hover {
  background: var(--dark-blue-hover-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
  cursor: pointer;
}

body.dark .sidebar .nav_link {
  color: var(--dark-grey-color);
}

.sidebar.close .nav_link {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

body.dark .nav_link:hover {
  color: var(--dark-white-color);
  background: var(--dark-blue-hover-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

body.dark .sidebar.close .nav_link:hover {
  background: var(--dark-white-color);
}

/* Submenu */
.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu ~ .submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

/* Bottom content */
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  transition: all 0.5s ease;
}

body.dark .bottom_content {
  background-color: var(--dark-white-color);
}

#logout-pointer {
  color: var(--grey-color) !important;
  cursor: pointer;
}

#logout-pointer2 {
  color: var(--grey-color) !important;
  text-decoration: none !important;
  cursor: pointer;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

body.dark .bottom {
  color: var(--dark-grey-color);
  border-top: 1px solid var(--dark-grey-light-color);
  background-color: var(--dark-white-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

body.dark .sidebar.close .bottom_content {
  left: 15px;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

/* Sidebar open button for smaller screens */
#sidebarOpen {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  body.dark #sidebarOpen {
    color: var(--dark-grey-color);
  }

  .sidebar.close {
    left: -100%;
    width: calc(50vw - 20px);
    max-width: 80%;
    padding: 65px 30px;
    transform: translateX(-100%);
  }

  .sidebar.open {
    left: 0;
    transform: translateX(0);
  }

  .sidebar.close {
    width: 80px;
    padding: 60px 0;
  }

  .sidebar .menu_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar .menu_items {
    width: 100%;
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    left: -100%;
  }
}

/* Form styles */
form {
  background-color: #f5faff;
  padding-top: 25px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark form {
  background-color: #333;
}

form label {
  color: var(--grey-color);
  transition: color 0.5s ease;
}

body.dark form label {
  color: var(--dark-grey-color);
}

.form-label {
  color: var(--grey-color);
  transition: color 0.5s ease;
}

body.dark .form-label {
  color: #bfbfbf;
}

form input:focus {
  outline: 2px solid var(--input-focus-color);
}

body.dark form input:focus {
  outline: 2px solid var(--input-focus-dark-color);
}

form input,
.form-text,
.form-check-label {
  color: var(--grey-color) !important;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark form input {
  background-color: #dddddd;
  color: var(--input-focus-dark-color);
}

body.dark form h3 {
  color: #bfbfbf;
}

body.dark .form-label {
  color: #bfbfbf;
}

form button {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.errors {
  background-color: #f5faff;
  height: 200px;
  max-width: 15% !important;
  transform: translate(350%, -170%);
  color: #4070f4;
  transition: none !important;
}

body.dark .errors {
  background-color: #333 !important;
  color: #4070f4 !important;
  transition: none !important;
}

li {
  list-style-type: none;
}

#user-id {
  padding-top: 0px;
}

body.dark form button {
  background-color: var(--dark-blue-color);
  border-color: var(--dark-blue-color);
}

body.dark form button:hover {
  background-color: var(--dark-blue-hover-color);
  border-color: var(--dark-blue-hover-color);
}

body.dark ::-webkit-input-placeholder {
  color: var(--dark-grey-color-placeholder);
}

body.dark :-moz-placeholder {
  color: var(--dark-grey-color-placeholder);
  opacity: 1;
}

body.dark ::-moz-placeholder {
  color: var(--dark-grey-color-placeholder);
  opacity: 1;
}

body.dark :-ms-input-placeholder {
  color: var(--dark-grey-color-placeholder);
}

body.dark ::placeholder {
  color: var(--dark-grey-color-placeholder);
}

input:focus {
  border-color: var(--input-focus-color);
  box-shadow: 0 0 2px var(--input-focus-color);
  outline: none;
}

body.dark input:focus {
  border-color: var(--input-focus-dark-color);
  box-shadow: 0 0 2px var(--input-focus-dark-color);
  outline: none;
}