#user-register {
  text-align: flex-start;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  padding: 20px;
  margin: auto;
}

.form-label,
.form-text,
.form-check-label {
  width: 100%;
}

#cellphone,
#comunication {
  width: 100%;
}

.mb-3 {
  margin-bottom: 15px;
}

.btn-primary {
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  padding: 10px;
}

.form-check-input {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  form {
    flex-direction: row;
    align-items: flex-start;
    height: 800px;
    padding: 50px;
    left: 20%;
    position: fixed;
  }

  .form-label,
  .form-text,
  .form-check-label,
  #cellphone,
  #comunication {
    width: auto;
  }

  .btn-primary {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  /* Ajustes para o formulário em telas menores */
  form {
    padding: 20px; /* Espaçamento interno do formulário */
    margin: auto; /* Centraliza o formulário */
  }

  .btn-primary {
    width: 100%; /* Botão de largura total */
    max-width: none; /* Remove a largura máxima do botão */
    margin-top: 10px; /* Espaçamento superior do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    padding: 10px; /* Espaçamento interno do botão */
  }
}