.body{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.d-inline-flex gap-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}